* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Nunito", sans-serif;
}

#principal-cadastro {
  height: 100vh;
  width: 100%;
  position: relative;
  background: linear-gradient(#3f41fd, #ecb44c);
}
header {
  border: solid green;
  width: 100%;
  height: 10vh;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.conteudo-login {
  height: 70vh;
  width: 70%;
  background-color: transparent;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  align-items: center;
  border: solid red;
}

.novo-cadastro {
  border-right: 1px solid red;
  height: 70vh;
  width: 30%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  line-height: 7em;
}

.novo-cadastro p {
  font-size: 30px;
}

.novo-cadastro h2 {
  padding-right: 32px;
  font-size: 25px;
}

.novo-cadastro h2 span {
  text-decoration: underline;
}

.novo-cadastro button {
  border: 1px solid black;
  background-color: white;
  width: 177px;
  height: 37px;
  border-radius: 50px;
  font-family: "Nunito", sans-serif;
  font-weight: 800;
  font-size: 14px;
  cursor: pointer;
}

.login {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  border: solid;
  width: 70%;
  height: 70vh;
}

.login p {
  margin-top: 15px;
  font-size: 30px;
}

.login h2 {
  font-size: 1.9em;
  font-weight: 800;
}

form {
  margin-top: 17px;
}

.campo {
  padding: 10px;
  width: 298px;
  border-radius: 7px;
  border: 1px solid;
  font-size: 0.9em;
  color: crimson;
  margin-bottom: -19px;
  transition: all linear 190ms;
  outline: none;
  margin-top: 3px;
  margin-left: -6px;
}

.entrar {
  border: 1px solid black;
  background-color: black;
  color: white;
  width: 177px;
  height: 37px;
  border-radius: 50px;
  font-weight: 800;
  font-size: 20px;
  cursor: pointer;
  margin: 0 59px;
}
